@()

@main("Welcome to Play") {
  <h1>Welcome to Play!</h1>

  <h3>This is docker image of Playframework</h3>

  <p>
    1. Build the image! <br><br>
    2. Push to google cloud registry <br><br>
    3. Create a deployment on your cluster <br><br>
    4. Create a service, with type=LoadBalancer to expose your app <br><br>
    5. Browse the app!
  </p>

}
